* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background: #060AB2;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.memory-game {
	width: 640px;
	height: 640px;
	margin: auto 50px;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

.memory-card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.memory-card:active {
	transform: scale(.97);
	transition: transform .2s;
}

.memory-card:hover {
	transform: scale(1.03);
	transition: transform 0.3s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face,
.back-face {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 5px;
	background: #1c7ccc;
	backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
}

.score-box {
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-right: 5%;
}

.movements-box {
	background: #adcfeb;
	border-radius: 5px;
	padding: 30px;
}

.movements {
	font-size: 4em;
	font-weight: bold;
}

.score-box button {
	margin-top: 15px;
	background: #adcfeb;
	border-radius: 5px;
	padding: 15px 5px;
	width: 100%;
	border: none;
	cursor: pointer;
	box-shadow: 2px 2px 2px;
	font-size: 1em;

}