* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	/*background: #060AB2;*/
	background-color: #121fba;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2310bfe5' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E");
	align-items: center;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.memory-game {
	width: 640px;
	height: 500px;
	margin: auto 50px;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

.memory-card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
}

.memory-card:active {
	transform: scale(.97);
	transition: transform .2s;
}

.memory-card:hover {
	transform: scale(1.03);
	transition: transform 0.3s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face,
.back-face {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 5px;
	background: #1c7ccc;
	backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
}

.score-box {
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-right: 5%;
}

.movements-box,
.hi-score-box {
	background: #adcfeb;
	border-radius: 5px;
	padding: 30px;
	margin: 15px 0;
}

.movements {
	font-size: 4em;
	font-weight: bold;
}

.score-box button {
	margin-top: 15px;
	background: #c5122a;
	color: white;
	border-radius: 5px;
	padding: 15px 5px;
	width: 100%;
	border: none;
	cursor: pointer;
	box-shadow: 2px 2px 2px #333;
	font-size: 1em;
}

button:active {
	transform: translateY(2px);
	box-shadow: none;
	transition: 0.1s;
}